*{

    margin: 0px;
    padding: 0px;
}


body {

    background-image: url ("Teste/fundos.jpg");
    background-color: orange;
    background-position: 50px 70px;

}

input{
    outline:none;
    display: block;
    height: 55px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 16pt;
    padding: 10px 20px;
    background-color: #00e1ff;
    color: white;

}

div#corpo-form{

    /*background-color: violet;*/

    width: 420px;
    margin: 130px auto 0px auto;
}

div#corpo-form-Cad
{

    /*background-color: violet;*/

    width: 420px;
    margin: 50px auto 0px auto;
}
div#corpo-form h1, div#corpo-form-Cad h1{

    text-align: center;
    padding: 20px;
}

a {

    color: blue;
    text-decoration: none;
    text-align: center;
    display: block;
}

a:hover{

    text-decoration: underline;
}

input[type=submit]{

    background-color: #FF0066;
    border: none;
    cursor: pointer;
}